.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.changePassword {
  font-size: 32px;
  color: rgba(230, 229, 234, 25%);
}
.title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgba(129, 125, 146, 1);
  margin-bottom: 16px;
}
.passwordOutput {
  width: 200px;
  font-size: 24px;
  font-weight: 700;
  color: rgba(230, 229, 234, 1);
}

.password_copy {
  padding-left: 16px;
  padding-right: 16px;
  width: 343px;
  height: 64px;
  background-color: rgba(36, 35, 44, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  margin-top: 16px;
  width: 343px;
  padding-left: 16px;
  padding-top: 21px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(36, 35, 44, 1);
}
.main_header {
  gap: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_title {
  font-size: 16px;
  font-weight: 700;
  color: rgba(230, 229, 234, 1);
}
.valueOfRange {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #a4ffaf;
}
.range {
  margin-top: 23px;
  margin-bottom: 40px;
  width: 311px;
}

.box_check {
  background-color: rgba(164, 255, 175, 1);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.box {
  width: 20px;
  height: 20px;
  background-color: #18171f;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e6e5ea;
}
.checkBoxes {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
}
.boxContainer {
  display: flex;
  gap: 28px;
}

.strength_medium {
  margin-top: 32px;
  width: 311px;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  justify-content: space-between;
  padding-right: 20px;
  background-color: rgba(24, 23, 31, 1);
  margin-bottom: 16px;
}
.strength {
  font-size: 16px;
  font-weight: 700;
  color: rgba(129, 125, 146, 1);
}
.medium {
  font-weight: 700;
  font-size: 18px;
  color: rgba(230, 229, 234, 1);
}
.medium_box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.stength_boxes {
  display: flex;
  align-items: center;
  gap: 8px;
}
.redBox {
  height: 28px;
  width: 10px;
  background-color: rgba(246, 74, 74, 1);
}
.orangeBox {
  height: 28px;
  width: 10px;
  background-color: rgba(251, 124, 88, 1);
}
.yellowBox {
  height: 28px;
  width: 10px;
  background-color: rgba(248, 205, 101, 1);
}
.greenBox {
  height: 28px;
  width: 10px;
  background-color: rgba(164, 255, 175, 1);
}
.strength_box {
  height: 28px;
  width: 10px;
  background-color: rgba(24, 23, 31, 1);
  border: 2px solid #e6e5ea;
}

button {
  width: 311px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  background-color: rgba(164, 255, 175, 1);
  border: none;
}
.generate {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #24232c;
}

.copy:hover {
  cursor: pointer;
}

.copy:hover path {
  fill: rgba(255, 255, 255, 1);
}

@media (min-width: 1440px) {
  .title {
    font-size: 24px;
  }

  .password_copy {
    padding-left: 32px;
    padding-right: 28px;
    width: 540px;
    height: 80px;
  }
  .passwordOutput {
    font-size: 32px;
  }
  .main {
    margin-top: 24px;
    width: 540px;
    padding-left: 32px;
    padding-top: 34px;
  }

  .main_header {
    gap: 264px;
  }
  .main_title {
    font-size: 18px;
  }
  .valueOfRange {
    font-size: 32px;
  }
  .range {
    margin-top: 23px;
    margin-bottom: 40px;
    width: 476px;
  }

  .strength_medium {
    margin-top: 32px;
    width: 476px;
    height: 72px;
    padding-left: 32px;
    padding-right: 31px;
    background-color: rgba(24, 23, 31, 1);
    margin-bottom: 32px;
  }
  .strength {
    font-size: 18px;
  }
  .medium {
    font-size: 24px;
  }
  button {
    width: 476px;
    height: 65px;
    gap: 24px;
    margin-bottom: 32px;
  }
}
