@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #18171F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
